<!DOCTYPE html>
<html>
    <head>
        <title>What Kind Of Cat Are You?</title>
    </head>
    <body>
        <h1>Take the Cat Quiz and find out what kind of cat you are!!</h1>
        <form method="POST">
            <h3>What is your favorite time of day?</h3>
            <input type="radio" name="question0" value="morning" required> morning<br>
            <input type="radio" name="question0" value="afternoon" required> afternoon<br>
            <input type="radio" name="question0" value="evening" required> evening<br>
            <input type="radio" name="question0" value="night" required> night<br>

            <h3>What is your favorite food?</h3>
            <input type="radio" name="question1" value="Chicken" required> Chicken<br>
            <input type="radio" name="question1" value="Fish" required> Fish<br>
            <input type="radio" name="question1" value="Pasta" required> Pasta<br>
            <input type="radio" name="question1" value="Sushi" required> Sushi<br>

            <h3>What is your favorite color?</h3>
            <input type="radio" name="question2" value="Black" required> Black<br>
            <input type="radio" name="question2" value="Red" required> White<br>
            <input type="radio" name="question2" value="Pink" required> Pink<br>
            <input type="radio" name="question2" value="Blue" required> Blue<br>

            <button type="submit">Find out!</button>
        </form>
    </body>
</html>
